<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <title>{% if guest %}{{ guest }} - {% endif %}Kvm-Man Console</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <style>
        body {
            margin: 0;
            background-color: dimgrey;
            height: 100%;
            display: flex;
            flex-direction: column;
        }
        html {
            height: 100%;
        }
        #top_bar {
            background-color: #6e84a3;
            color: white;
            font: bold 12px Helvetica;
            padding: 6px 5px 4px 5px;
            border-bottom: 1px outset;
        }
        #status {
            text-align: center;
        }
        .top-buttons {
            position: fixed;
            top: 0;
            right: 0;
        }
        .top-buttons button {
            color: #FFFFFF;
            border: 1px outset;
            padding: 5px 5px 4px 5px;
            background-color: transparent;
            cursor: pointer;
            margin-right: 2px;
        }
        .top-buttons button:hover {
            color: #6e84a3;
            background-color: #FFFFFF;
        }
        #screen {
            flex: 1; /* fill remaining space */
            overflow: hidden;
        }
    </style>

    <!-- Promise polyfill for IE11 -->
    <script src="{{ static_url('console/vendor/promise.js') }}"></script>

    <!-- ES2015/ES6 modules polyfill -->
    <script nomodule src="{{ static_url('console/vendor/browser-es-module-loader/dist/browser-es-module-loader.js') }}"></script>

    <!-- actual script modules -->
    <script type="module" crossorigin="anonymous">
        // RFB holds the API to connect and communicate with a VNC server
        import RFB from '/static/console/core/rfb.js';

        let rfb;
        let desktopName;

        // When this function is called we have
        // successfully connected to a server
        function connectedToServer(e) {
            status("Connected to " + desktopName);
        }

        // This function is called when we are disconnected
        function disconnectedFromServer(e) {
            if (e.detail.clean) {
                status("Disconnected");
            } else {
                status("Something went wrong, connection is closed");
            }
        }

        // When this function is called, the server requires
        // credentials to authenticate
        function credentialsAreRequired(e) {
            const password = prompt("Password Required:");
            rfb.sendCredentials({ password: password });
        }

        // When this function is called we have received
        // a desktop name from the server
        function updateDesktopName(e) {
            desktopName = e.detail.name;
        }

        // Since most operating systems will catch Ctrl+Alt+Del
        // before they get a chance to be intercepted by the browser,
        // we provide a way to emulate this key sequence.
        function sendCtrlAltDel() {
            rfb.sendCtrlAltDel();
            return false;
        }

        // Show a status text in the top bar
        function status(text) {
            document.getElementById('status').textContent = text;
            console.log(text);
        }

        // This function extracts the value of one variable from the
        // query string. If the variable isn't defined in the URL
        // it returns the default value instead.
        function readQueryVariable(name, defaultValue) {
            // A URL with a query parameter can look like this:
            // https://www.example.com?myqueryparam=myvalue
            //
            // Note that we use location.href instead of location.search
            // because Firefox < 53 has a bug w.r.t location.search
            const re = new RegExp('.*[?&]' + name + '=([^&#]*)'),
                  match = document.location.href.match(re);

            if (match) {
                // We have to decode the URL since want the cleartext value
                return decodeURIComponent(match[1]);
            }

            return defaultValue;
        }

        document.getElementById('sendCtrlAltDelButton')
            .onclick = sendCtrlAltDel;

        // Read parameters specified in the URL query string
        // By default, use the host and port of server that served this file
        const host = readQueryVariable('host', window.location.hostname);
        //let port = readQueryVariable('port', window.location.port);
        let port = {{ port }};
        const password = readQueryVariable('password');
        const uuid = readQueryVariable('uuid', null);
        const token = readQueryVariable('token', null);
        const path = 'kvman?token=' + uuid + ':' + token;

        // | | |         | | |
        // | | | Connect | | |
        // v v v         v v v

        status("Connecting");

        // Build the websocket URL used to connect
        let url;
        if (window.location.protocol === "https:") {
            url = 'wss';
        } else {
            url = 'ws';
        }
        url += '://' + host;
        if(port) {
            url += ':' + port;
        }
        url += '/' + path;

        // Creating a new RFB object will start a new connection
        rfb = new RFB(document.getElementById('screen'), url, { credentials: { password: password } });

        // Add listeners to important events from the RFB module
        rfb.addEventListener("connect",  connectedToServer);
        rfb.addEventListener("disconnect", disconnectedFromServer);
        rfb.addEventListener("credentialsrequired", credentialsAreRequired);
        rfb.addEventListener("desktopname", updateDesktopName);

        // Set parameters that can be changed on an active connection
        rfb.viewOnly = readQueryVariable('view_only', false);
        rfb.scaleViewport = readQueryVariable('scale', false);
    </script>
</head>

<body>
    <div id="top_bar">
        <div id="status">Loading</div>
        <div class="top-buttons">
            <button type="button" id="exitBtn" title="Exit Console" data-uuid="{{ uuid }}">Exit</button>
            <button type="button" id="sendCtrlAltDelButton" title="Send Keys: Ctrl + Alt + Del">Send Ctrl+Alt+Del</button>
        </div>
    </div>
    <div id="screen">
        <!-- This is where the remote screen will appear -->
    </div>
<script src="{{ static_url('js/jquery-2.2.4.min.js') }}" type="text/javascript"></script>
<script src="{{ static_url('layer/layer.js') }}" type="text/javascript"></script>
<script>
$(function () {

    //退出
    $('#exitBtn').click(function () {
        var uuid = $(this).data('uuid');
        layer.confirm('您确认退出远程控制吗？', {icon: 3, title: '退出提示'}, function (index) {
            $.ajax({
                type: "POST",
                url: "/guest/console-exit",
                data: {uuid: uuid},
                dataType: "json",
                success: function (resp) {
                    var code = resp['code'],
                        msg = resp['msg'];
                    if (code === 0) {
                        layer.close(index);
                        window.close(); //关闭当前窗口
                    } else if (code < 0) {
                        layer.close(index);
                        layer.msg(msg);
                    } else {
                        layer.close(index);
                        layer.alert('操作失败，请稍后再试！', {title: '操作提示', icon: 3});
                    }
                },
                error: function () {
                    layer.close(index);
                    layer.alert('系统繁忙，请稍后再试！', {title: '操作提示', icon: 3});
                }
            });
        });
    });
});
</script>
</body>
</html>