{% extends "layout/main.html" %}
{% block title %}{{ name }} - 虚拟机详情{% endblock %}
{% block head %}
    <style>
        .col-form-label {
            font-weight: bold;
            padding-right: 0 !important;
        }
    </style>
{% endblock %}
{% block body %}
<div class="row mt-4 mb-3">
    <div class="col-sm"><h5>实例详情</h5></div>
    <div class="col-sm">
        <div class="float-right">
            <div class="btn-group" role="group">
                <a href="/guest" class="btn btn-outline-dark btn-sm"><i class="fa fa-fw fa-arrow-left"></i>返回</a>
                <button type="button" class="btn btn-outline-dark btn-sm" id="consoleBtn"><i class="fa fa-fw fa-television"></i>远程连接</button>
                <button type="button" class="btn btn-outline-dark btn-sm" id="saveBtn" style="display: none;"><i class="fa fa-fw fa-check-circle-o"></i>保存
                </button>
                <button type="button" class="btn btn-outline-dark btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <button type="button" class="dropdown-item" id="startBtn"><i class="fa fa-fw fa-circle-o-notch"></i> 开机</button>
                    <button type="button" class="dropdown-item" id="haltBtn"><i class="fa fa-fw fa-power-off"></i> 关机</button>
                    <button type="button" class="dropdown-item" id="rebootBtn"><i class="fa fa-fw fa-refresh"></i> 重启</button>
                    <button type="button" class="dropdown-item" id="passwdBtn"><i class="fa fa-fw fa-lock"></i> 修改密码</button>
                    <button type="button" class="dropdown-item" id="editBtn"><i class="fa fa-fw fa-edit"></i> 编辑配置</button>
                    <button type="button" class="dropdown-item" id="viewConfigBtn"><i class="fa fa-fw fa-file-code-o"></i> 查看配置文件</button>
                    <div class="dropdown-divider"></div>
                    <button type="button" class="dropdown-item" id="destroyBtn" style="color:#dc3545;"><i class="fa fa-fw fa-trash"></i> 销毁</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-7">
        <form class="pr-5 pl-5">
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">实例名称</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" value="{{ name }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="uuid" class="col-sm-2 col-form-label">UUID</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="uuid" data-name="{{ name }}" data-status="{{ guest.status }}" value="{{ guest.uuid }}">
                </div>
            </div>
            <!--
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">标 题</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" value="{{ guest.title }}">
                </div>
            </div>
            -->
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">描 述</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" value="{{ guest.desc }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">主机名</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" value="{{ guest.hostname }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">操作系统</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" value="{{ guest.os }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">IP地址</label>
                <div class="col-sm-10">
                    <div class="pt-2">{{ '<br>'.join(guest.ip) }}</div>
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">VNC端口</label>
                <div class="col-sm-10">
                    <div class="pt-2">{{ guest.vnc_port }}</div>
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">CPUs</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" value="{{ guest.cpu }}">
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">内 存</label>
                <div class="col-sm-10">
                    <div class="pt-2">
                        <span>{{ guest.mem }}</span>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">硬 盘</label>
                <div class="col-sm-10">
                    <div class="pt-2"><span data-toggle="tooltip" title="已使用 / 总容量">{{ '<br>'.join(guest.hdd) }}</span></div>
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label">CDROM</label>
                <div class="col-sm-10">
                    <div class="pt-2">无</div>
                </div>
            </div>
            <div class="form-group row">
                <label for="" class="col-sm-2 col-form-label" title="QEMU Guest Agent" data-toggle="tooltip">QGA版本</label>
                <div class="col-sm-10">
                    <div class="pt-2">{% if guest.qga_version %}<span title="QEMU Guest Agent" data-toggle="tooltip">{{ guest.qga_version }}</span>{% else %}
                        <span style="color:red;">客户机未运行qemu-guest-agent</span>{% endif %}</div>
                </div>
            </div>
            <div class="form-group row" style="display: none;" id="xml_box">
                <div class="col-sm-12">
                    <textarea class="form-control" rows="25" placeholder="Libvirt XML For QEMU-KVM Guest">{{ guest.xml | trim }}</textarea>
                </div>
            </div>
        </form>
    </div>
    <div class="col-5">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-6">控制台</div>
                    <div class="col-6 text-right">{{ state[guest['state']] }}</div>
                </div>
            </div>
            <div class="card-body" style="padding: 0;background-color: #0a0a0a; min-height: 268px;cursor: pointer;">
                <!--<h5 class="card-title">Console Preview</h5>-->
                <img style="max-width: 100%;" id="preview_img">
            </div>
        </div>
    </div>
</div>
{% endblock %}