{% extends "layout/main.html" %}
{% block title %}虚拟机实例{% endblock %}
{% block body %}
<div class="row mt-4 mb-3">
    <div class="col-sm"><h5>虚拟机实例</h5></div>
    <div class="col-sm"><div class="float-right"><a href="/guest/create" class="btn btn-outline-dark btn-sm"><i class="fa fa-fw fa-plus"></i> 创建虚拟机</a></div></div>
</div>
{% include "layout/kvm_server_list.html" %}
<div class="row mb-3">
    <table class="table table-hover table-middle">
        <thead>
        <tr>
            <!--<th scope="col">#</th>-->
            <th scope="col">名称</th>
            <th scope="col">CPUs</th>
            <th scope="col">内存</th>
            <th scope="col">硬盘 [已使用/总量]</th>
            <th scope="col">网卡</th>
            <th scope="col">备注</th>
            <th scope="col">自动启动</th>
            <th scope="col">状态</th>
            <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        {% for d in guests %}
        <tr>
            <!--<th scope="row">{{ d['id'] }}</th>-->
            <td><a href="/guest/detail?name={{ d.name }}" data-toggle="tooltip" title="{{ d.title }}">{{ d.name }}</a></td>
            <td>{{ d['cpu'] }}</td>
            <td>{{ d['mem'] }}</td>
            <td>{{ '<br>'.join(d.hdd) }}</td>
            <td>{{ '<br>'.join(d.network) }}</td>
            <td>{{ d['desc'] }}</td>
            <td>{% if d.autostart %}<i class="fa fa-check" style="color:green;"></i>{% endif %}</td>
            <td>{{ state[d['state']] }}</td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-outline-dark btn-sm" href="/guest/detail?name={{ d.name }}">详情</a>
                    <button type="button" class="btn btn-outline-dark btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item start-btn" href="javascript:void(0);" data-name="{{ d.name }}" data-status="{{ d.status }}"><i class="fa fa-fw fa-circle-o-notch"></i> 开机</a>
                        <a class="dropdown-item halt-btn" href="javascript:void(0);" data-name="{{ d.name }}" data-status="{{ d.status }}"><i class="fa fa-fw fa-power-off"></i> 关机</a>
                        <a class="dropdown-item reboot-btn" href="javascript:void(0);" data-name="{{ d.name }}" data-status="{{ d.status }}"><i class="fa fa-fw fa-refresh"></i> 重启</a>
                        <a class="dropdown-item autostart-btn" href="javascript:void(0);" data-name="{{ d.name }}" data-autostart="{{ d.autostart }}"><i class="fa fa-fw fa-play-circle-o"></i> 自动启动</a>
                        <a class="dropdown-item console-btn" href="javascript:void(0);" data-name="{{ d.name }}" data-status="{{ d.status }}"><i class="fa fa-fw fa-television"></i> 远程连接</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item destroy-btn" href="javascript:void(0);" data-name="{{ d.name }}" data-status="{{ d.status }}"><i class="fa fa-fw fa-trash"></i> 销毁</a>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}