{% extends "layout/main.html" %}
{% block body %}
<div class="row mt-4 mb-3">
    <div class="col-sm"><h5>虚拟机实例</h5></div>
    <div class="col-sm"><div class="float-right"><a href="/guest/create" class="btn btn-primary btn-sm"><i class="fa fa-fw fa-plus"></i> 创建虚拟机</a></div></div>
</div>
<div class="row mb-3">
    <table class="table table-hover table-middle">
        <thead>
        <tr>
            <!--<th scope="col">#</th>-->
            <th scope="col">名称</th>
            <th scope="col">CPUs</th>
            <th scope="col">内存</th>
            <th scope="col">硬盘</th>
            <th scope="col">网卡</th>
            <th scope="col">备注</th>
            <th scope="col">状态</th>
            <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        {% for d in guests %}
        <tr>
            <!--<th scope="row">{{ d['id'] }}</th>-->
            <td><a href="/guest/detail?name={{ d.name }}" data-toggle="tooltip" title="{{ d.title }}">{{ d.name }}</a></td>
            <td>{{ d['cpu'] }}</td>
            <td>{{ d['mem'] }}</td>
            <td>{{ '<br>'.join(d.hdd) }}</td>
            <td>{{ '<br>'.join(d.network) }}</td>
            <td>{{ d['desc'] }}</td>
            <td>{{ status[d['status']] }}</td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        操作
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="javascript:void(0);" data-name="{{ d.name }}"><i class="fa fa-fw fa-television"></i> 远程连接</a>
                        <a class="dropdown-item" href="javascript:void(0);" data-name="{{ d.name }}"><i class="fa fa-fw fa-circle-o-notch"></i> 开机</a>
                        <a class="dropdown-item" href="javascript:void(0);" data-name="{{ d.name }}"><i class="fa fa-fw fa-power-off"></i> 关机</a>
                        <a class="dropdown-item" href="javascript:void(0);" data-name="{{ d.name }}"><i class="fa fa-fw fa-refresh"></i> 重启</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="javascript:void(0);" data-name="{{ d.name }}"><i class="fa fa-fw fa-trash"></i> 销毁</a>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}