{% extends "layout/main.html" %}
{% block body %}
<div class="row mb-3">
    <h5>虚拟机实例</h5>
</div>
<div class="row mb-3">
    <table class="table table-hover">
        <thead>
        <tr>
            <!--<th scope="col">#</th>-->
            <th scope="col">名称</th>
            <th scope="col">系统</th>
            <th scope="col">CPUs</th>
            <th scope="col">内存</th>
            <th scope="col">硬盘</th>
            <th scope="col">网卡</th>
            <th scope="col">状态</th>
            <th scope="col">备注</th>
            <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        {% for d in guests %}
        <tr>
            <!--<th scope="row">{{ d['id'] }}</th>-->
            <td>{{ d['name'] }}</td>
            <td>{{ d['title'] }}</td>
            <td>{{ d['cpu'] }}</td>
            <td>{{ d['mem'] }}</td>
            <td>{{ d['hdd'] }}</td>
            <td>{{ d['network'] }}</td>
            <td>{{ status[d['status']] }}</td>
            <td>{{ d['desc'] }}</td>
            <td></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}