{% extends "layout/main.html" %}
{% block title %}登录{% endblock %}
{% block body %}
<div class="row mt-5">
    <h3 style="width: 100%; text-align: center">登录 Kvm-Man</h3>
    <form style="width: 100%;">
        <div class="form-group row center mt-4">
            <div class="col-sm-4"></div>
            <label for="username" class="col-sm-1 col-form-label">用户名</label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="username" placeholder="请输入用户名">
            </div>
        </div>
        <div class="form-group row center">
            <div class="col-sm-4"></div>
            <label for="password" class="col-sm-1 col-form-label">密&nbsp;&nbsp;&nbsp;码</label>
            <div class="col-sm-3">
                <input type="password" class="form-control" id="password" placeholder="请输入密码">
            </div>
        </div>
        <div class="form-group row center mt-4">
            <div class="col-sm-5"></div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-primary" style="width: 100%;" id="login_btn" data-next="{{ next }}"><i class="fa fa-fw fa-sign-in"></i> 登 录</button>
            </div>
        </div>

    </form>
</div>
{% endblock %}
{% block footer %}
<script>
$(function () {

    //登录
    $('#login_btn').click(function () {
        var username = $('#username').val().trim(),
            password = $('#password').val().trim();
        if (username==='') {
            layer.alert('请输入用户名！', {title:'登录提示',icon: 2}, function (index) {
                layer.close(index);
                $('#username').focus();
            });
            return false;
        }
        if (password==='') {
            layer.alert('请输入密码！', {title:'登录提示',icon: 2}, function (index) {
                layer.close(index);
                $('#password').focus();
            });
            return false;
        }
        var loading = layer.load(1,{shade:[0.4,'#000']});
        $.ajax({
            type: "POST",
            url: "/user/login",
            data: {username: username, password: password},
            dataType: "json",
            success: function (resp) {
                var code = resp['code'],
                    msg = resp['msg'];
                layer.close(loading);
                if (code === 0) {
                    //layer.msg(msg);
                    location.href = $('#login_btn').data('next'); //跳转到登录前的页面
                } else if (code < 0) {
                    layer.msg(msg);
                } else {
                    layer.alert('登录失败，请稍后再试！', {title: '登录提示', icon: 3}); //icon = ?
                }
            },
            error: function () {
                layer.close(loading);
                layer.alert('系统繁忙，请稍后再试！', {title: '登录提示', icon: 3}); // icon = ?
            }
        });
    });

});
</script>
{% endblock %}