/*
 * For Kvman
 * Powered By KK Studio
 */

body {
    font-size: 14px;
    font-family: -apple-system, "Microsoft Yahei", Verdana, Arial, Helvetica, sans-serif;
}

@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

/** Overwrite for Bootstrap **/

.btn {
    border-radius: 0;
}

.btn:focus, .btn.focus {
    box-shadow: 0 0 0 0 transparent !important;
}

.form-control {
    border-radius: 0;
}

.form-control:focus {
    box-shadow: 0 0 0 0 transparent;
    border: 1px solid #343a40;
}

select.form-control {
    /**-webkit-appearance: none;
    -moz-appearance: none;**/
    -webkit-border-radius: 0;
}

/** Overwrite for bootstrap **/

.container {
    max-width: 80%;
    min-height: 388px;
}

a {
    text-decoration: none !important;
}

a:hover {
    color: #007bff;
}

.kvman-top-nav>li>a {
    color: #343a40;
    font-size: 16px;
    border-bottom: solid 2px transparent;
}

.kvman-top-nav>li>a:hover {
    border-bottom: solid 2px #343a40;
}

.kvman-top-nav>.dropdown>a:hover {
    border-bottom: solid 2px transparent;
}

.kvman-top-nav>.dropdown>.dropdown-menu>a {
    font-size: 14px;
}

.footer {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
}

.center {
    text-align: center;
}

.table-middle td {
    vertical-align: middle;
}


.text-cut-220 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 220px;
}

.text-cut-460 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 460px;
}

.layui-layer-btn > .layui-layer-btn0:hover, .layui-layer-btn > .layui-layer-btn1:hover {
    border-color: #343a40;
    background-color: #343a40;
    color: #fff;
}