{% extends "layout/main.html" %}
{% block title %}网络{% endblock %}
{% block body %}
<div class="row mt-4 mb-3">
    <div class="col-sm"><h5>网络</h5></div>
    <div class="col-sm"><div class="float-right"><a href="javascript:void(0);" class="btn btn-primary btn-sm"><i class="fa fa-fw fa-plus"></i> 创建网络</a></div></div>
</div>
{% include "layout/kvm_server_list.html" %}
<div class="row mb-3">
    <table class="table table-hover table-middle">
        <thead>
        <tr>
            <!--<th scope="col">#</th>-->
            <th scope="col">名称</th>
            <th scope="col">桥接名称</th>
            <th scope="col">IP地址</th>
            <th scope="col">子网掩码</th>
            <th scope="col">DHCP</th>
            <th scope="col">自动启动</th>
            <th scope="col">状态</th>
            <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        {% for d in data %}
        <tr>
            <!--<th scope="row">{{ d['uuid'] }}</th>-->
            <td><a href="javascript:void(0);" data-toggle="tooltip" title="UUID：{{ d.uuid }}">{{ d.name }}</a></td>
            <td>{{ d.bridge }}</td>
            <td>{{ d.ip }}</td>
            <td>{{ d.netmask }}</td>
            <td>{{ d.dhcp or '' }}</td>
            <td>{% if d.autostart %}<i class="fa fa-check" style="color:green;"></i>{% endif %}</td>
            <td>{% if d['active'] %}<span style="color:green;">running</span>{% endif %}</td>
            <td>--</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}