{% extends "layout/main.html" %}
{% block title %}存储{% endblock %}
{% block body %}
<div class="row mt-4 mb-3">
    <div class="col-sm"><h5>存储</h5></div>
    <div class="col-sm"><div class="float-right"><a href="javascript:void(0);" class="btn btn-primary btn-sm"><i class="fa fa-fw fa-plus"></i> 新建存储</a></div></div>
</div>
{% include "layout/kvm_server_list.html" %}
<div class="rom mb-3">
    <table class="table table-hover table-middle">
        <thead>
        <tr>
            <th scope="col">名称</th>
            <th scope="col">容量 [已使用/总量]</th>
            <th scope="col">存储卷数量</th>
            <th scope="col">自动启动</th>
            <th scope="col">状态</th>
            <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        {% for i in storages %}
        <tr>
            <td><a href="/storage/volume?{% if sid %}sid={{ sid }}&{% endif %}pool={{ i.name }}">{{ i.name }}</a></td>
            <td>{{ i.used }} / {{ i.size }}</td>
            <td><a href="/storage/volume?{% if sid %}sid={{ sid }}&{% endif %}pool={{ i.name }}">{{ i.vol_num }}</a></td>
            <td>{% if i.autostart %}<i class="fa fa-check" style="color:green;"></i>{% endif %}</td>
            <td>{% if i.state == 2 %}<span style="color:green;">running</span>{% endif %}</td>
            <td>
                <a href="javascript:void(0);" class="edit-pool" data-pool="{{ i.name }}">编辑</a>
                |
                <a href="javascript:void(0);" class="delete-pool" data-pool="{{ i.name }}">删除</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}