{% extends "layout/main.html" %}
{% block title %}存储{% endblock %}
{% block body %}
<div class="row mt-4 mb-3">
    <div class="col-sm"><h5>存储</h5></div>
    <div class="col-sm"><div class="float-right"><a href="javascript:void(0);" class="btn btn-outline-dark btn-sm" id="createStorageBtn"><i class="fa fa-fw fa-plus"></i> 新建存储</a></div></div>
</div>
{% include "layout/kvm_server_list.html" %}
<div class="rom mb-3">
    <table class="table table-hover table-middle">
        <thead>
        <tr>
            <th scope="col">名称</th>
            <th scope="col">容量 [已使用/总量]</th>
            <th scope="col">存储卷数量</th>
            <th scope="col">自动启动</th>
            <th scope="col">状态</th>
            <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        {% for i in storages %}
        <tr>
            <td><a href="/storage/volume?pool={{ i.name }}">{{ i.name }}</a></td>
            <td>{{ i.used }} / {{ i.size }}</td>
            <td><a href="/storage/volume?pool={{ i.name }}">{{ i.vol_num }}</a></td>
            <td>{% if i.autostart %}<i class="fa fa-check" style="color:green;"></i>{% endif %}</td>
            <td>{% if i.state == 2 %}<span style="color:green;">running</span>{% endif %}</td>
            <td>
                <div class="btn-group">
                    <a class="btn btn-outline-dark btn-sm" href="/storage/volume?pool={{ i.name }}"><i class="fa fa-fw fa-info-circle"></i>详情</a>
                    <button type="button" class="btn btn-outline-dark btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item refresh-btn" href="javascript:void(0);"><i class="fa fa-fw fa-refresh"></i> 刷新</a>
                        <a class="dropdown-item start-btn" href="javascript:void(0);"><i class="fa fa-fw fa-power-off"></i> 启动</a>
                        <a class="dropdown-item edit-btn" href="javascript:void(0);"><i class="fa fa-fw fa-edit"></i> 编辑</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item delete-btn" href="javascript:void(0);" style="color:#dc3545;"><i class="fa fa-fw fa-trash"></i> 删除</a>
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="modal fade" id="edit_dialog" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dialog_title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="pr-5 pl-5">
                    <div class="form-group row">
                        <label for="name" class="col-sm-2 col-form-label">存储名称</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="name" placeholder="请使用英文">
                        </div>
                        <div class="col-sm-1" style="margin-top: 6px"><i class="fa fa-asterisk" style="color: red;font-size: 10px"></i></div>
                    </div>
                    <div class="form-group row">
                        <label for="type" class="col-sm-2 col-form-label">存储类型</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="type">
                                <option value="">-- 请选择存储类型 --</option>
                                <option value="dir">目录</option>
                                <option value="lvm">逻辑卷(LVM)</option>
                                <option value="nfs">NFS</option>
                            </select>
                        </div>
                        <div class="col-sm-1" style="margin-top: 6px"><i class="fa fa-asterisk" style="color: red;font-size: 10px"></i></div>
                    </div>
                    <div class="form-group row">
                        <label for="source" class="col-sm-2 col-form-label">源路径</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="source" placeholder="请填写源路径">
                        </div>
                        <div class="col-sm-1" style="margin-top: 6px"><i class="fa fa-asterisk" style="color: red;font-size: 10px"></i></div>
                    </div>
                    <div class="form-group row">
                        <label for="target" class="col-sm-2 col-form-label">目标路径</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="target" placeholder="请填写目标路径">
                        </div>
                        <div class="col-sm-1" style="margin-top: 6px"><i class="fa fa-asterisk" style="color: red;font-size: 10px"></i></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="saveBtn" class="btn btn-outline-dark">保 存</button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">关 闭</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}