{% extends "layout/main.html" %}
{% block body %}
<div class="row mt-4 mb-3">
    <div class="col-sm"><h5>存储卷列表 [{{ pool }}]</h5></div>
    <div class="col-sm">
        <div class="float-right">
            <a href="javascript:void(0);" class="btn btn-primary btn-sm"><i class="fa fa-fw fa-plus"></i> 新建存储卷</a>
            <a href="/storage?_from=vol" class="btn btn-secondary btn-sm"><i class="fa fa-fw fa-arrow-left"></i> 返回</a>
        </div>
    </div>
</div>
<div class="rom mb-3">
    <table class="table table-hover table-middle">
        <thead>
        <tr>
            <th scope="col">名称</th>
            <th scope="col">路径</th>
            <th scope="col">类型</th>
            <th scope="col">容量</th>
            <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        {% for i in vols %}
        <tr>
            <td>{{ i.name }}</td>
            <td>{{ i.path }}</td>
            <td>{{ i.type }}</td>
            <td>{{ i.used }} / {{ i.total }}</td>
            <td><a href="javascript:void(0);" data-pool="{{ pool }}" data-vol="{{ i.name }}">删除</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}