{% extends "layout/main.html" %}
{% block title %}存储卷 - {{ pool }}{% endblock %}
{% block body %}
<div class="row mt-4 mb-3">
    <div class="col-sm"><h5>存储卷列表 [{{ pool }}]</h5></div>
    <div class="col-sm">
        <div class="float-right">
            <div class="btn-group" role="group">
                <a href="/storage?_from=vol" class="btn btn-outline-dark btn-sm"><i class="fa fa-fw fa-arrow-left"></i> 返回</a>
                <a href="javascript:void(0);" class="btn btn-outline-dark btn-sm"><i class="fa fa-fw fa-plus"></i> 新建存储卷</a>
                <a href="javascript:void(0);" class="btn btn-outline-dark btn-sm"><i class="fa fa-fw fa-refresh"></i> 刷新</a>
            </div>

        </div>
    </div>
</div>
<div class="rom mb-3">
    <table class="table table-hover table-middle">
        <thead>
        <tr>
            <th scope="col">名称</th>
            <th scope="col">路径</th>
            <th scope="col">格式</th>
            <th scope="col">容量 [已使用/总量]</th>
            <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        {% for i in vols %}
        <tr>
            <td><div class="text-cut-220" data-toggle="tooltip" title="{{ i.name }}">{{ i.name }}</div></td>
            <td><div class="text-cut-460" data-toggle="tooltip" title="{{ i.path }}">{{ i.path }}</div></td>
            <td></td>
            <td>{{ i.used }} / {{ i.total }}</td>
            <td><a href="javascript:void(0);" class="delete-vol" data-pool="{{ pool }}" data-vol="{{ i.name }}">删除</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}