{% extends "layout/main.html" %}
{% block body %}
<div class="row mt-4 mb-3">
    <h5>系统设置</h5>
</div>
<h6 class="mt-4">用户设置</h6>
<form class="pr-5 pl-5">
    <div class="form-group row">
        <label for="uid" class="col-sm-1 col-form-label">UID</label>
        <div class="col-sm-5">
            <input type="text" readonly class="form-control-plaintext" id="uid" value="" placeholder="系统自动生成">
        </div>
    </div>
    <div class="form-group row">
        <label for="username" class="col-sm-1 col-form-label">用户名</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="username">
        </div>
    </div>
    <div class="form-group row">
        <label for="password" class="col-sm-1 col-form-label">密 码</label>
        <div class="col-sm-5">
            <input type="password" class="form-control" id="password">
        </div>
    </div>
</form>
<h6 class="mt-5">KVM服务器设置</h6>
<form class="pr-5 pl-5">
    <div class="form-group row">
        <label for="name" class="col-sm-1 col-form-label">名称</label>
        <div class="col-sm-5">
            <input type="text" readonly class="form-control-plaintext" id="name" value="default">
        </div>
    </div>
    <div class="form-group row">
        <label for="protocol" class="col-sm-1 col-form-label">连接协议</label>
        <div class="col-sm-5">
            <select class="form-control" id="protocol">
                <option value="">-- 请选择连接协议 --</option>
                <option value="qemu">qemu</option>
                <option value="qemu+ssh">qemu+ssh</option>
                <option value="qemu+tcp">qemu+tcp</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="hostname" class="col-sm-1 col-form-label">主机名</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="hostname" placeholder="主机名或IP地址">
        </div>
    </div>
    <div class="form-group row">
        <label for="qemu_username" class="col-sm-1 col-form-label">用户名</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="qemu_username" placeholder="仅限 QEMU+TCP 模式">
        </div>
    </div>
    <div class="form-group row">
        <label for="qemu_password" class="col-sm-1 col-form-label">密 码</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="qemu_password" placeholder="仅限 QEMU+TCP 模式">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-4"></div>
        <div class="col-sm-2 text-right"><button type="button" class="btn btn-primary"><i class="fa fa-fw fa-save"></i> 保 存</button></div>
    </div>
</form>
{% endblock %}