{% extends "layout/main.html" %}
{% block title %}系统设置{% endblock %}
{% block body %}
<div class="row mt-4 mb-3">
    <h5>系统设置</h5>
</div>
<h6 class="mt-4">用户设置</h6>
<form class="pr-5 pl-5">
    <div class="form-group row">
        <label for="uid" class="col-sm-1 col-form-label">UID</label>
        <div class="col-sm-5">
            <input type="text" readonly class="form-control-plaintext" id="uid" value="{{ user.uid }}" placeholder="系统自动生成">
        </div>
    </div>
    <div class="form-group row">
        <label for="role" class="col-sm-1 col-form-label">角色</label>
        <div class="col-sm-5">
            <input type="text" readonly class="form-control-plaintext" id="role" value="{% if user.role==1 %}超级管理员{% else %}普通用户{% endif %}">
        </div>
    </div>
    <div class="form-group row">
        <label for="nickname" class="col-sm-1 col-form-label">昵称</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="nickname" value="{{ user.nickname }}">
        </div>
    </div>
    <div class="form-group row">
        <label for="username" class="col-sm-1 col-form-label">用户名</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="username" value="{{ user.username }}">
        </div>
    </div>
    <div class="form-group row">
        <label for="email" class="col-sm-1 col-form-label">邮箱地址</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" id="email" value="{{ user.email }}">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-4"></div>
        <div class="col-sm-2 text-right"><button type="button" class="btn btn-primary" id="saveBtn"><i class="fa fa-fw fa-save"></i> 保 存</button></div>
    </div>
</form>
{% endblock %}
{% block footer %}
<script>
$(function () {

    //保存
    $('#saveBtn').click(function () {
        var nickname = $('#nickname').val(),
            username = $('#username').val(),
            email = $('#email').val();
        if (nickname==='') {
            layer.msg('请输入昵称！');
            $('#nickname').focus();
            return false;
        }
        if (username==='') {
            layer.msg('请输入用户名！');
            $('#username').focus();
            return false;
        }
        $.ajax({
            type: "POST",
            url: "/user/profile",
            data: {username:username,nickname:nickname,email:email},
            dataType: "json",
            success: function (resp) {
                var code = resp['code'],
                    msg = resp['msg'];
                if (code === 0) {
                    layer.msg(msg);
                } else if (code < 0) {
                    layer.msg(msg);
                } else {
                    layer.alert('保存失败，请稍后再试！', {title: 'KvMan提示', icon: 3});
                }
            },
            error: function () {
                layer.alert('系统繁忙，请稍后再试！', {title: 'KvMan提示', icon: 3});
            }
        });
    });

});
</script>
{% endblock %}