{% extends "layout/main.html" %}
{% block title %}KVM服务器{% endblock %}
{% block body %}
<div class="row mt-4 mb-3">
    <div class="col-sm"><h5>KVM服务器</h5></div>
    <div class="col-sm"><div class="float-right"><a href="javascript:void(0);" id="add_kvm_btn" class="btn btn-primary btn-sm"><i class="fa fa-fw fa-plus"></i> 新增服务器</a></div></div>
</div>
<div class="row mb-3">
    <table class="table table-hover table-middle">
        <thead>
        <tr>
            <!--<th scope="col">#</th>-->
            <th scope="col">主机名</th>
            <th scope="col">端口</th>
            <th scope="col">协议</th>
            <th scope="col">用户名</th>
            <th scope="col">虚拟机</th>
            <th scope="col">备注</th>
            <th scope="col">默认</th>
            <th scope="col">状态</th>
            <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        {% for d in data %}
        <tr id="row_{{ loop.index }}">
            <!--<th scope="row"></th>-->
            <td id="hostname_{{ loop.index }}">{{ d.hostname }}</td>
            <td id="port_{{ loop.index }}">{{ d.port }}</td>
            <td id="protocol_{{ loop.index }}">{{ d.protocol }}</td>
            <td id="username_{{ loop.index }}" data-password="{{ d.password or '' }}">{{ d.username or '' }}</td>
            <td><a href="/guest?server={{ d.hostname }}">{{ d.guests or '' }}</a></td>
            <td id="comments_{{ loop.index }}">{{ d.comments }}</td>
            <td>{% if d.default %}<i class="fa fa-check" style="color:green;"></i>{% endif %}</td>
            <td></td>
            <td>
                <a href="javascript:void(0);" data-id="{{ loop.index }}" class="edit-btn">编辑</a>
                |
                <a href="javascript:void(0);" data-id="{{ loop.index }}" class="delete-btn">删除</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="modal fade" id="edit_dialog" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dialog_title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="pr-5 pl-5">
                    <!--
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">名称</label>
                        <div class="col-sm-9">
                            <input type="text" readonly class="form-control-plaintext">
                        </div>
                    </div>
                    -->
                    <div class="form-group row">
                        <label for="hostname" class="col-sm-2 col-form-label">主机名</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="hostname" placeholder="主机名或IP地址">
                        </div>
                        <div class="col-sm-1" style="margin-top: 6px"><i class="fa fa-asterisk" style="color: red;font-size: 10px"></i></div>
                    </div>
                    <div class="form-group row">
                        <label for="protocol" class="col-sm-2 col-form-label">连接协议</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="protocol">
                                <option value="">-- 请选择连接协议 --</option>
                                <option value="qemu">qemu</option>
                                <option value="qemu+ssh">qemu+ssh</option>
                                <option value="qemu+tcp">qemu+tcp</option>
                            </select>
                        </div>
                        <div class="col-sm-1" style="margin-top: 6px"><i class="fa fa-asterisk" style="color: red;font-size: 10px"></i></div>
                    </div>
                    <div class="form-group row">
                        <label for="port" class="col-sm-2 col-form-label">端 口</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="port" placeholder="仅限 QEMU+TCP 模式">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="username" class="col-sm-2 col-form-label">用户名</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="username" placeholder="仅限 QEMU+TCP 模式">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="password" class="col-sm-2 col-form-label">密 码</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="password" placeholder="仅限 QEMU+TCP 模式">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="comments" class="col-sm-2 col-form-label">描 述</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="comments" placeholder="备注信息">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="saveBtn" class="btn btn-primary">保存</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
<script>
$(function () {

    //新增
    $('#add_kvm_btn').click(function () {
        $('#dialog_title').html('新增KVM服务器');
        $('#edit_dialog').modal();
        $('#hostname').val('');
        $('#protocol').val('');
        $('#port').val('');
        $('#username').val('');
        $('#password').val('');
        $('#comments').val('');
        $('#saveBtn').data('hostname','');
    });

    //编辑
    $('.edit-btn').click(function () {
        var id = $(this).data('id'),
            hostname = $('#hostname_'+id).html().trim(),
            protocol = $('#protocol_'+id).html().trim(),
            port = $('#port_'+id).html().trim(),
            username = $('#username_'+id).html().trim(),
            password = $('#username_'+id).data('password'),
            comments = $('#comments_'+id).html().trim();
        $('#dialog_title').html('编辑KVM主机：'+hostname);
        $('#edit_dialog').modal();
        $('#hostname').val(hostname);
        $('#protocol').val(protocol);
        $('#port').val(port);
        $('#username').val(username);
        $('#password').val(password);
        $('#comments').val(comments);
        $('#saveBtn').data('hostname',hostname);
    });
    
    //保存
    $('#saveBtn').click(function () {
        var hostname0 = $('#saveBtn').data('hostname'),
            hostname = $('#hostname').val().trim(),
            protocol = $('#protocol').val().trim(),
            port = $('#port').val().trim(),
            username = $('#username').val().trim(),
            password = $('#password').val().trim(),
            comments = $('#comments').val().trim(),
            api = hostname0 === '' ? 'create' : 'update';
        $.ajax({
            type: "POST",
            url: "/server/" + api,
            data: {hostname0:hostname0,hostname:hostname,protocol:protocol,port:port,username:username,password:password,comments:comments},
            dataType: "json",
            success: function (resp) {
                var code = resp['code'],
                    msg = resp['msg'];
                if (code === 0) {
                    layer.msg(msg);
                    location.reload();
                } else if (code < 0) {
                    layer.msg(msg);
                } else {
                    layer.alert('保存失败，请稍后再试！', {title: 'KvMan提示', icon: 3});
                }
            },
            error: function () {
                layer.alert('系统繁忙，请稍后再试！', {title: 'KvMan提示', icon: 3});
            }
        });
    });

    //删除
    $('.delete-btn').click(function () {
        var id = $(this).data('id'),
            hostname = $('#hostname_'+id).html();
        layer.confirm('您确认要删除 ' + hostname + ' 吗？', {icon: 3, title: '删除提示'}, function (index) {
            $.ajax({
                type: "POST",
                url: "/server/delete",
                data: {hostname: hostname},
                dataType: "json",
                success: function (resp) {
                    var code = resp['code'],
                        msg = resp['msg'];
                    if (code === 0) {
                        $('#row_'+id).slideUp("slow", function(){
                            $(this).remove();
                        });
                        layer.close(index);
                        layer.msg(msg);
                    } else if (code < 0) {
                        layer.close(index);
                        layer.msg(msg);
                    } else {
                        layer.close(index);
                        layer.alert('删除失败，请稍后再试！', {title: 'KvMan提示', icon: 3});
                    }
                },
                error: function () {
                    layer.close(index);
                    layer.alert('系统繁忙，请稍后再试！', {title: 'KvMan提示', icon: 3});
                }
            });
        });
    });
});
</script>
{% endblock %}