{% extends "layout/main.html" %}
{% block title %}KVM服务器{% endblock %}
{% block body %}
<div class="row mt-4 mb-3">
    <div class="col-sm"><h5>KVM服务器</h5></div>
    <div class="col-sm"><div class="float-right"><a href="javascript:void(0);" id="add_kvm_btn" class="btn btn-outline-dark btn-sm"><i class="fa fa-fw fa-plus"></i> 新增服务器</a></div></div>
</div>
<div class="row mb-3">
    <table class="table table-hover table-middle">
        <thead>
        <tr>
            <!--<th scope="col">#</th>-->
            <th scope="col">主机名</th>
            <th scope="col">端口</th>
            <th scope="col">协议</th>
            <th scope="col">用户名</th>
            <th scope="col">虚拟机</th>
            <th scope="col">备注</th>
            <th scope="col">状态</th>
            <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        {% for d in data %}
        <tr id="row_{{ loop.index }}">
            <!--<th scope="row"></th>-->
            <td id="hostname_{{ loop.index }}">{{ d.hostname }}</td>
            <td id="port_{{ loop.index }}">{{ d.port }}</td>
            <td id="protocol_{{ loop.index }}" data-parameters="{{ d.parameters or '' }}">{{ d.protocol }}</td>
            <td id="username_{{ loop.index }}" data-password="{{ d.password or '' }}">{{ d.username or '' }}</td>
            <td><a href="/guest?sid={{ d.hostname }}">{{ d.guests or '' }}</a></td>
            <td id="comments_{{ loop.index }}">{{ d.comments }}</td>
            <td>{% if d.online %}<span style="color:green;">在线</span>{% else %}<span style="color:red;">离线</span>{% endif %}</td>
            <td>
                <a href="javascript:void(0);" data-id="{{ loop.index }}" class="edit-btn">编辑</a>
                |
                <a href="javascript:void(0);" data-id="{{ loop.index }}" class="delete-btn">删除</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="modal fade" id="edit_dialog" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dialog_title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="pr-5 pl-5">
                    <!--
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">名称</label>
                        <div class="col-sm-9">
                            <input type="text" readonly class="form-control-plaintext">
                        </div>
                    </div>
                    -->
                    <div class="form-group row">
                        <label for="hostname" class="col-sm-2 col-form-label">主机名</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="hostname" placeholder="主机名或IP地址">
                        </div>
                        <div class="col-sm-1" style="margin-top: 6px"><i class="fa fa-asterisk" style="color: red;font-size: 10px"></i></div>
                    </div>
                    <div class="form-group row">
                        <label for="protocol" class="col-sm-2 col-form-label">连接协议</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="protocol">
                                <option value="">-- 请选择连接协议 --</option>
                                <option value="qemu">qemu</option>
                                <option value="qemu+ssh">qemu+ssh</option>
                                <option value="qemu+tcp">qemu+tcp</option>
                            </select>
                        </div>
                        <div class="col-sm-1" style="margin-top: 6px"><i class="fa fa-asterisk" style="color: red;font-size: 10px"></i></div>
                    </div>
                    <div class="form-group row">
                        <label for="port" class="col-sm-2 col-form-label">端 口</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="port" placeholder="仅限 QEMU+TCP / QEMU+SSH 模式">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="username" class="col-sm-2 col-form-label">用户名</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="username" placeholder="仅限 QEMU+TCP / QEMU+SSH 模式">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="password" class="col-sm-2 col-form-label">密 码</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="password" placeholder="仅限 QEMU+TCP 模式">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="parameters" class="col-sm-2 col-form-label">连接参数</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="parameters" placeholder="例如：keyfile=/root/.ssh/id_rsa.pub&socket=/var/run/libvirt-sock">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="comments" class="col-sm-2 col-form-label">描 述</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="comments" placeholder="备注信息">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="saveBtn" class="btn btn-outline-dark">保 存</button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">关 闭</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}