{% extends "layout/main.html" %}
{% block title %}KVM服务器{% endblock %}
{% block body %}
<div class="row mt-4 mb-3">
    <div class="col-sm"><h5>KVM服务器</h5></div>
    <div class="col-sm"><div class="float-right"><a href="/guest/create" class="btn btn-primary btn-sm"><i class="fa fa-fw fa-plus"></i> 新增服务器</a></div></div>
</div>
<div class="row mb-3">
    <table class="table table-hover table-middle">
        <thead>
        <tr>
            <!--<th scope="col">#</th>-->
            <th scope="col">名称</th>
            <th scope="col">协议</th>
            <th scope="col">主机名</th>
            <th scope="col">端口</th>
            <th scope="col">用户名</th>
            <th scope="col">虚拟机</th>
            <th scope="col">备注</th>
            <th scope="col">状态</th>
            <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody>
        {% for d in data %}
        <tr>
            <!--<th scope="row"></th>-->
            <td><a href="javascript:void(0);" data-toggle="tooltip" title="{{ d.hostname }}">{{ d.name }}</a></td>
            <td>{{ d.protocol }}</td>
            <td>{{ d.hostname }}</td>
            <td>{{ d.port }}</td>
            <td>{{ d.username or '' }}</td>
            <td><a href="/guest?server={{ d.name }}">{{ d.guests or '' }}</a></td>
            <td>{{ d.comments }}</td>
            <td></td>
            <td>
                <a href="javascript:void(0);" data-name="{{ d.name }}">编辑</a>
                |
                <a href="javascript:void(0);" data-name="{{ d.name }}">删除</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block footer %}
<script>
$(function () {
});
</script>
{% endblock %}