<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - Kvm Manager</title>
    <link href="{{ static_url('font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ static_url('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ static_url('css/kvman.css') }}" rel="stylesheet" type="text/css" />
    {% block head %}{% endblock %}
</head>
<body>
    {% include "layout/nav.html" %}
    <div class="container">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>温馨提示：</strong>
            您的系统有新的版本，请升级以获取更好的体验！
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% block body %}{% endblock %}
    </div>
    {% include "layout/footer.html" %}
    {% block footer %}{% endblock %}
</body>
</html>