<!-- Top Header -->
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h4 class="my-0 mr-md-auto font-weight-normal">Kvm-Man</h4>
    <nav class="my-2 my-md-0 mr-md-3 header-nav">
        <a class="p-2 mr-4" href="/">控制台</a>
        {% if not handler.session.isGuest %}
        <a class="p-2 mr-4" href="/server">主机</a>
        <a class="p-2 mr-4" href="/guest">实例</a>
        <a class="p-2 mr-4" href="/storage">存储</a>
        <a class="p-2 mr-4" href="/network">网络</a>
        <a class="p-2 mr-3" href="/monitor">监控</a>
        {% endif %}
    </nav>
    {% if not handler.session.isGuest %}
    <!--<a class="btn btn-outline-primary" href="/setting">设置</a>-->
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ handler.session.data.username }}
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="/setting"><i class="fa fa-fw fa-cog"></i> 设置</a>
                <a class="dropdown-item" href="/user/logout"><i class="fa fa-fw fa-power-off"></i> 登出</a>
            </div>
        </div>
    </div>
    {% endif %}
</div>
<!-- End Top Header -->